body{
    margin: 0;
    background-color: #eeeeee;

}
/*↓↓ light mode ↓↓*/

.switcher{
    height: 40px;
    width: 40px;
    border-radius: 100px;
    position: absolute;
    background-color: #262626;
    top: 80px;
    left: 5px;
    opacity: 100%;
    border: 2px solid white;
    transition: 2s;
}

.switcher .moon{
    width: 25px;
    height: 25px;
    border-radius: 50%;
    box-shadow: 8px 3px 0 0 #eadf51;
    position: absolute;
    top: 4px;
    cursor: pointer;
    transition: 2s;
}

.sun{
    border-radius: 100%!important;
    background-color: #eadf51!important;
    top: 7px!important;
    right: 7px!important;
    box-shadow: none!important;
    transition: 2ms;
}
.sunSwitcher{
    background-color: #1f7cff;
}

.nightMode{
    background-color: #1e232b;
    transition: 2s;
}

.switcher_light{
    background-color: #1f7cff;
}

/* ↑↑ light mode ↑↑*/
/* ↓↓  aside ↓↓*/

aside {
    width: 55px;
    height: 1000px;
    position: fixed;
    background-color: #eeeeee;
}
header .switcher nav{
    margin-top: 55px;
    cursor: pointer;
}

.compl > img, .uncompl > img, .binIcon > img{
    width: 40px;
    margin-top: 12px;
}
/* ↑↑ aside ↑↑*/

header{
    display: flex;
}

header .addNew{
    margin: 80px 0 0 100px;
    height: 30px;
}

header .addNew form #newTask{
    box-sizing: border-box;
    width: 350px;
    height: 30px;
    border-radius: 10px;
    border: 1px solid grey;
    padding: 5px 5px 5px 10px;
}

header .addNew form #submitNewTask {
    width: 95px;
    height: 30px;
    border: none;
    background: linear-gradient(#e66465, #9198e5);
    color: white;
    font-weight: bold;
    border-radius: 10px;
    cursor: pointer;
}

/* ↑↑ header ↑↑*/
/* ↓↓ main ↓↓*/

main{
    margin: 30px 0 0 100px;
    max-width: 1200px;
}

.task{
    display: flex;
    justify-content: space-between;
    background-color: white;
    border: 1px #cbcbcb solid;
}
.ready{
    display: none;
}

.bin{
    display: none;
}

/* ↑↑ main ↑↑*/
/* ↓↓ buttons ↓↓*/

.buttonsEditMain{
    background-color: white;
    border: none;
    cursor: pointer;
    margin-right: 25px;
}

.mainImgs{
    width: 45px;
}

.addSett{
    display: none;
    position: absolute;
    left: 1225px;
    background: white;
    border: 1px solid red;
    width: 150px;
    height: 97px;
    border-radius: 20px;
}

.addition{
    background: white;
    border: none;
    padding: 15px;
    font-weight: bold;
    font-size: medium;
    cursor: pointer;
    border-radius: 20px;
    text-align: center;
}
.addition:hover{
    background: #62c0e3;
}

/*  ↑↑ addition ↑↑*/
/* ↓↓ buttons ↓↓*/

.completed{
    background-color: #70bf70;
    text-decoration: line-through;
}
.delete{
    background-color: #b23434;
    text-decoration: line-through;
}
/*  ↑↑ buttons ↑↑*/
